<div class="container">
  <h1>Welcome to the URL shortener!</h1>
  <br>
  <form action="/short_url" method = "post">
    <input type = "text" name = "user_input">
    <input type = "submit" value = "Please enter your url">
  </form>
</div>


